html, body {
	background-color: #f0f4f6;
	margin: 0rem;
	padding: 0rem;
	font-size: 16px;
}

.main {
	background-color: #f0f4f6;
}
/* -----------------------HERO SECTION ---------------------------------- */
.main-head {
	background-color: #2d3438;
	height: 300px;
	position: relative;
	text-align: center;
}
nav {
	background-color: #2d3438;
	color: #bfd1d9;
	font-family: 'Montserrat', sans-serif;
	padding-top: 17px;
	padding-bottom: 17px;
}
nav a {
	color: #bfd1d9;
	font-weight: 200;
	padding-left: .5rem;
	padding-right: .5rem;
	font-family: 'Montserrat', sans-serif;
	font-size: normal;
}
nav a:hover, nav a:active {
	text-decoration: none;
}
.main-head h1 {
	color: #a6b7bf;
	margin: 0rem;
	font-family: 'Montserrat', sans-serif;
	vertical-align: center;
	padding-top: 3rem;
}
.main-head p.small {
	color: #79909a;
	margin: 0rem;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.main-head p.medium {
	color: #79909a;
	margin: 0rem;
	padding-top: 30px;
	padding-bottom: 34px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
}
.main-head p.large {
	color: #79909a;
	margin: 0rem;
	padding-top: 30px;
	padding-bottom: 36px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.main-head a {
	color: #bfd1d9;
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif;
}

/* ------------------------- CONTENT SECTION --------------------- */
.main-content {
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-right-color: #dfe8ec;
	border-left-color: #dfe8ec;
	border-bottom-color: #dfe8ec;
	border-top: none;
	box-shadow: 0px .5px .5px .5px #ccc;
	margin-bottom: 3rem;
	margin-top: 0rem;
	text-align: center;
	width: 100%;
	max-width: 1000px;
}

.resource-type-title {
	clear: both;
	font-family: 'Lato', sans-serif;
	text-align: left;
	margin-top: 1em;
	color: #ACACAC;
	margin-left: 100px;
}

.rsrc-columns {
/*	-webkit-column-count: 1;
	-webkit-column-gap: 1rem;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 1rem;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 1rem;
	column-fill: auto;

	width: 800px;
	margin-left: 100px;*/
	width: 80%;
	margin: auto;
}

@media (min-width: 960px) {
	.rsrc-columns {
		/*-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;*/
	}
}

/*@media (min-width: 1100px) {
	.rsrc-columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}*/

.content-data {

}

.box {
	display: block;
	width: 23rem;
	background-color: #f6f6f6;
	box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.15);
	font-family: 'Lato', sans-serif;
	border-style: solid;
	border-color: #ccc;
	border-width: .1rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
	clear:both;
	overflow: auto;
}

.box .link {
	color: #17abf0;
}

.box img { 
	display: block;
	width: 25%;
	height: auto;
	float: left;
	margin: 1rem;
}

/*.content-tile {
	padding: 1rem;
}

.content-tile h4 {
	color: #717e84;
}

.content-tile a {
	color: #17abf0;
	word-wrap: break-word;
}

.content-tile p {
	color: #5a5f61;
}

.content-tile:active {
	background-color: #222729;
}

.content-tile-image {
	padding: 0rem;
}

.content-tile-image > .image {
	padding: 0rem;

	margin: 1rem;
}

.content-tile-image > .content {
	padding: 1rem;
}*/

.box h4 {
	color: #717e84;
}

.box a {
	color: #17abf0;
	word-wrap: break-word;
}

.box p {
	color: #5a5f61;
}

.content-tile-image:active {
	background-color: #222729;
}

/* ------------------------- CONTENT NAVIGATION ------------------- */
.resource-nav {
	background-color: #f0f4f6;
	border-width: 1px;
	border-style: solid;
	border-top-color: #dfe8ec;
	border-right-color: #fff;
	border-left-color: #fff;
	border-bottom-color: #dfe8ec;
	padding: 0rem;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	position: relative;
}

dl.large {
	margin: 0rem;
	font-family: 'Lato', sans-serif;
}

dl.medium {
	margin-top: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
	font-family: 'Lato', sans-serif;
}

dl.small {
	margin: 0rem;
	font-family: 'Lato', sans-serif;
}
dl.large > dd.active {
	background-color: #fff;
}

dl.medium > dd.active {
	background-color: #fff;
}
dl.small > dd.active {
	background-color: #fff;
}
.sub-nav {
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0rem;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}
.sub-nav dd:first-child {
	border-left: none;
	font-family: 'Lato', sans-serif;
}

.sub-nav dd.active a {
	background-color: #fff;
	color: #717e84;
	border-radius: 0px;
	padding-left: 0rem;
	margin: 0rem;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 1rem;
}

dl.large dd {
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #fff;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0rem;
	background-color: #f0f4f6;
	font-size: 1.5rem;
	color: #717e84;
	text-align: center;
	width: 20%;
}

dl.medium dd {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #fff;
	padding-top: .2rem;
	padding-bottom: .2rem;
	margin: 0rem;
	background-color: #f0f4f6;
	font-size: 1.25rem;
	color: #717e84;
	width: 20%;
	text-align: center;
}

dl.small dd {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #fff;
	padding: 0rem;
	margin: 0rem;
	background-color: #f0f4f6;
	font-size: .75rem;
	color: #717e84;
	width: 20%;
	text-align: center;
}

[data-magellan-expedition] {
	left: 0;
}