{% if resource.image %}
<a href="{{ resource.link }}" alt="{{ resource.title }}"><div class="content-tile-image box large-6 small-12 columns">
  <img src="{{ resource.image.url }}" class="image"/>
  <div class="content">
    <h4>{{ resource.title }}</h4>
    <a href="{{ resource.link }}">{{ resource.link }}</a>
    <p>{{ resource.description}}<p>
  </div>
</div></a>
{% else %}
<a href="{{ resource.link }}" alt="{{ resource.title }}"><div class="content-tile box large-6 small-12 columns">
  <h4>{{ resource.title }}</h4>
  <a href="{{ resource.link }}">{{ resource.link }}</a>
  <p>{{ resource.description}}<p>
</div></a>
{% endif %}