{% load markdown_deux_tags %}

{% if resource.image %}
<a href="{{ resource.link }}" alt="{{ resource.title }}" class="content-tile-image box">
  <img src="{{ resource.image.url }}" class="image"/>
  <h4>{{ resource.title }}</h4>
  {% if resource.author and resource.publish_date %}
  	<p>{{ resource.author }} - {{ resource.publish_date|date:"M j, Y" }}</p>
  {% elif resource.author %}
  	<p>{{ resource.author }}</p>
  {% elif resource.publish_date %}
  	<p>{{ resource.publish_date }}</p>
  {% else %}
  {% endif %}
  <p class="link">{{ resource.link|truncatechars:35 }}</p>
  <p>{{ resource.description|markdown }}</p>
</a>
{% else %}
<a href="{{ resource.link }}" alt="{{ resource.title }}" class="content-tile box">
  <h4>{{ resource.title }}</h4>
  {% if resource.author and resource.publish_date %}
  	<p>{{ resource.author }} - {{ resource.publish_date|date:"M j, Y" }}</p>
  {% elif resource.author %}
  	<p>{{ resource.author }}</p>
  {% elif resource.publish_date %}
  	<p>{{ resource.publish_date }}</p>
  {% else %}
  {% endif %}
  <p class="link">{{ resource.link|truncatechars:35 }}</p>
  <p>{{ resource.description|markdown }}</p>
</a>
{% endif %}