{% extends 'content_submit/base.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="content-data">	

	<h3 data-magellan-destination="libraries" class="resource-type-title">Libraries</h3>
	{% for resource in library_resources %}
		{% if resource.active %}
			<div class="rsrc-columns" id="libraries">
				{% include 'content_submit/_resource.html' %}
			</div>
		{% endif %}
	{% endfor %}

	<h3 data-magellan-destination="docs" class="resource-type-title">Docs</h3>
	{% for resource in doc_resources %}
		{% if resource.active %}
			<div class="rsrc-columns" id="docs">
				{% include 'content_submit/_resource.html' %}
			</div>
		{% endif %}
	{% endfor %}

	<h3 data-magellan-destination="talks" class="resource-type-title">Talks</h3>
	{% for resource in talk_resources %}
		{% if resource.active %}
			<div class="rsrc-columns" id="talks">
				{% include 'content_submit/_resource.html' %}
			</div>
		{% endif %}
	{% endfor %}

	<h3 data-magellan-destination="tutorials" class="resource-type-title">Tutorials</h3>
	{% for resource in tutorial_resources %}
		{% if resource.active %}
			<div class="rsrc-columns" id="tutorials">
				{% include 'content_submit/_resource.html' %}
			</div>
		{% endif %}
	{% endfor %}

	<h3 data-magellan-destination="blogs" class="resource-type-title">Blog Posts</h3>
	{% for resource in blog_resources %}
		{% if resource.active %}
			<div class="rsrc-columns" id="blogs">
				{% include 'content_submit/_resource.html' %}
			</div>
		{% endif %}
	{% endfor %}

</div>
{% endblock %}