{% extends 'content_submit/base.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="small-12 small-centered medium-12 medium-centered large-10 large-centered columns content-data">	
	<a name="libraries"></a>
	<h3 data-magellan-destination="libraries" class="resource-type-title">Libraries</h3>
	{% for resource in library_resources %}
		{% include 'content_submit/_resource.html' %}
	{% endfor %}


	<a name="docs"></a>
	<h3 data-magellan-destination="docs" class="resource-type-title">Docs</h3>
	{% for resource in doc_resources %}
		{% include 'content_submit/_resource.html' %}
	{% endfor %}


	<a name="talks"></a>
	<h3 data-magellan-destination="talks" class="resource-type-title">Talks</h3>
	{% for resource in talk_resources %}
		{% include 'content_submit/_resource.html' %}
	{% endfor %}


	<a name="tutorials"></a>
	<h3 data-magellan-destination="tutorials" class="resource-type-title">Tutorials</h3>
	{% for resource in tutorial_resources %}
		{% include 'content_submit/_resource.html' %}
	{% endfor %}



	<a name="blogs"></a>
	<h3 data-magellan-destination="blogs" class="resource-type-title">Blog Posts</h3>
	{% for resource in blog_resources %}
		{% include 'content_submit/_resource.html' %}
	{% endfor %}


</div>
{% endblock %}